.contentTable {
    border-collapse: collapse;
    width: 70%;
    margin: 25px auto;
    font-size: 1.6em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.contentTable thead tr {
    background-color: #303c54;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.contentTable th,
.contentTable td {
    padding: 12px 15px;
}

.contentTable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.contentTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.contentTable tbody tr:last-of-type {
    border-bottom: 2px solid #303c54;
}

.contentTable tbody tr.active-row {
    font-weight: bold;
    color: #303c54;
}

.paginationButtons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.select {
    font-size: 1.6rem;
    font-weight: 600;
    display: flex;
    gap: 1rem;

}

.select select {
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    background-color: #303c54;
    color: #fff;
}

.select select option {
    padding: 0.5rem 1rem;
    background-color: #303c54;
    color: #fff;
    font-weight: 600;
}