.form {
    width: 20rem;
    height: fit-content;
    background-color: #008080;
    border-radius: 0.5rem;
}

.formInput {
    height: fit-content;
    padding: 0 2rem 1rem 2rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    position: relative;
}

.formInput p {
    font-size: 1.6rem;
    font-weight: 600;
}

.form h1 {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    text-align: center;
    color: #88dfdf;
}

.emailInput {
    width: 100%;
    /* height: 3rem; */
    border: none;
    outline: none;
    border-radius: 0.5rem;
    /* padding: 0 2rem; */
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
    position: relative;
}

.emailInput input {
    height: 2rem;
    border: none;
    outline: none;
    padding: 0 0 0 1rem;

    border-radius: 0.2rem;
    background-color: #eceff1;
}

.emailInput p,
.passwordInput p {
    font-size: 1rem;
    font-weight: 600;
    color: #88dfdf;
    margin: 0.5rem 0;
}

.emailInput input::placeholder,
.passwordInput input::placeholder {
    color: #000;
}

.passwordInput {
    width: 100%;
    /* height: 3rem; */
    border: none;
    outline: none;
    border-radius: 0.5rem;

    position: relative;
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
}

.passwordInput input {
    height: 2rem;
    border: none;
    outline: none;

    padding-left: 1rem;
    border-radius: 0.2rem;
    background-color: #eceff1;
}

.loginBtn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginBtn button {
    border: none;
    outline: none;
    border-radius: 0.2rem;
    width: fit-content;
    padding: 0.2rem 1rem;
    background-color: #88dfdf;
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
}

.loginBtn button:hover {
    background-color: #448080;
}

.changeTo {
    text-align: end;
    margin-bottom: 1rem;
    padding-right: 0.5rem;
}

.changeTo span {
    color: #88dfdf;
    cursor: pointer;
}

.errorShow {
    color: tomato;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}